/* ALERTA que aparece no fim do site */
.swal2-scroll-popup {
	width: 160px;  /* Definir largura */
	height: 160px; /* Definir altura para criar o formato quadrado */
	left: 20px;    /* Distância da borda esquerda */
	bottom: 20px;  /* Distância da borda inferior */
	position: fixed;
	font-size: 18px;
	margin: 0;
	background-color: #101010;
	color: #fcfc;
	box-shadow: 0 0 15px 2px #f9004d !important;
	border: transparent !important;
	outline: none;
	border-radius: 20%;
	padding: 2px; /* Era 10px - Controle de espaçamento interno */
	text-align: center;
	overflow: hidden; /* Mantém o conteúdo dentro do quadrado */
	animation: fadeIn 0.5s ease-in-out;
	transition: box-shadow .9s ease-in-out !important; /* vai demorar 0.9 segundos pra cor #f9004d aparecer no HOVER */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.swal2-scroll-popup:hover {
	box-shadow: 0 0 15px 2px white !important;
	transition: box-shadow .9s ease-in-out !important; /* vai demorar 0.9 segundos pra cor Branca aparecer no HOVER */
}

/* Transição suave para a sombra  <!-- 😊 --> */
.fade-in {
	animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
	from {
        opacity: 0;
	}
	to {
        opacity: 1;
	}
}

/* Emoji */
.emoji {
	font-size: 2.5em; /* Tamanho do E-moji */
	/*margin-top: 2px;*/
}


/* Layout do container principal */
/*alert-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}*/

/* Mensagem */
/*message {
	font-size: 18px;
	color: #fcfc;
	/*margin-bottom: 2px;*/
	/*padding: 2px;*/ /* Era 5px */
	/*text-align: center;*/
	/*display: block;*/
/*}*/

/* Estilo do rodapé */
/*.footer {
	/*padding-top: 2px;*/
	/*background-color: #101010;
	border: none !important;
	font-size: large #f9004d !important;*/
	/*object-fit: cover;*/
	/*color: #f9004d !important;*/ /* cor do underline no link clicável apenas no HOVER */

/*}*/

/* Ajustes para telas menores (responsivo) */
/* NÃO É NECESSÁRIO MODO RESPONSIVO */
/* o Emoji não vai aparecer no MODO RESPONSIVO */
