/* CSS Carrossel - Site Fundo Preto - Página 4 - Certificados */

*{
	padding: 0; /* zera todos os espaços dentro da Tela */
	margin: 0; /* zera todas as margens */
	box-sizing: border-box; /* cria um box */
	/*background-color: gold;*/ /* teste para ver se existem espaços entre colunas etc */
}

body, html {
    margin: 0; /* zera todas as margens */
    padding: 0; /* zera todos os espaços dentro da Tela */
    height: 100vh; /* altura minima que a Tela terá, será responsiva e ocupará toda a altura da Tela */
    display: flex; /* permite que tudo que for colocado seja manipulado dentro do Container */
    justify-content: center; /* justifica e centraliza EXATAMENTE no meio da Tela */
    align-items: center; /* centraliza todos os itens que foram colocados dentro deste Container em linha HORIZONTALMENTE */
    background: #191919; /* cor de Fundo do Container */
    overflow: hidden; /* evita que o conteúdo extrapole as margens */
}
 
.controle-deslizante { /* ERA class="slider" */
    /*position: relative; */
    width: 800px; /* Era 700px, Era 800px - mas com 5 Slides a última Foto fica cortada, por isso diminui aqui
                      largura das Fotos e posição centralizada das Fotos HORIZONTALMENTE */
    height: 500px; /* altura do Container onde ficarão as Fotos */
    border-radius: 20px; /* arredondamento das bordas */
    overflow: hidden; /* esconde as Barras de Rolagem, tanto na Direita da Tela como abaixo das Fotos */
}
 
.slides { /* Fotos dentro do 'controle-deslizante' acima */
    width: 500%; /* Tem que ser 500% - largura entre a passagem de uma Foto para outra
                    1500% a Primeira Foto vai passar e ficará uma vão entre a próxima
                    800% também causa este efeito de grande espaçamento entre as Fotos */
    height: 500px; /* altura das Fotos */
    display: flex; /* permite que as Fotos sejam manipuladas */
}
 
.slides input { 
    display:none; /* a tag <input type="radio" name="radio-botao" id="radio1"> será escondida atrás das Fotos 
                      se o comando 'display' for retirado, por exemplo, os Botões ficarão tanto em cima
                      como embaixo das Fotos, e ainda causará um ERRO na visualização */
}
   
.slide-carrossel { /* Era class="slide" */
    width: 20%; /* espaço entre uma Foto e outra, se for maior que 20%, 
                   50% = as Fotos passarão muito separadamente uma da outra
                   10% = fica aparecendo a Foto anterior e posterior enquato passa uma Foto 
                   DEVE SER 20% */
    transition: 1s; /* Era 2s - tempo de transição entre uma Foto e outra */
}
 
.slide-carrossel img { /* Era class="slide img" */
    width: 800px; /* Era 700px, Era 800px - mas com 5 Slides a última Foto fica cortada, por isso diminui aqui
                     centraliza as Fotos no meio da Tela - largura da Foto */
    height: 500px; /* centraliza as Fotos no meio da Tela - altura da Foto */
    pointer-events: none; /* evita que o Foto seja clicável, não deixa abrir outra ABA no navegador */
}
  
/* CSS para navegação manual dos slides (css for manual slide navigation) */
.navegacao-manual { /* Era class="navigation-manual" */
    position: absolute; /* força a centralização dos Botões embaixo das Fotos */
    width: 800px; /* Era 700px, Era 800px - centraliza os Botões no meio das Fotos - largura da Foto */
    margin-top: 20px; /* Era 560px - deixa os Botões abaixo das Fotos, ficando mais fácil de
                         visualizar em Tela 100vh 
                         Era -40px - é negativa para fazer os Botões ficarem com um espaçamento 
                         em relação a parte inferior da Foto */ 
    display: flex; /* possibilita que os comandos ACIMA sejam executados */
    justify-content: center; /* justifica e centraliza EXATAMENTE no meio das Fotos */
}
  
.manual-botao { /* Era class="manual-btn" */
    border: 0px solid rgba(255, 204, 255,.1); /* Cor rgba de #f9004d = rgba(249, 0, 77,.13) - .13 = opacidade
                                                0px = retira a Borda em volta do Botão
                                                Era 7px, Era 2px - 2px = expessura da borda criada em volta do Botão
                                                solid = precisa ser colocado para aparecer a borda ao redor do Botão
                                                #40D3DC = cor da borda criada em volta do Botão */
    padding: 12px; /* Era 7px - esse 'padding' faz os Botões aumentarem/diminuírem de tamanho, é o espaço INTERNO que os Botões terão */
    border-radius: 50px; /* arredonda os Botões, tem o mesmo efeito de um 'border-radius' de 50px, 
                            pois neste caso, os Botões são pequenos */
    cursor: pointer; /* cursor aparecerá como dedo apontando */
    transition: 0.3s; /* tempo que levará para APARECER/DESAPARECER a cor dos Botões no HOVER abaixo
                       quando o mouse for posicionado sobre eles */
    background-color: rgba(255, 204, 255,.1); /* Cor rgba de #f9004d = rgba(249, 0, 77,.13) - .13 = opacidade */
}
  
.manual-botao:not(:last-child) { /* Era class="manual-btn" */
    margin-right: 15px; /* Era 10px, Era 40px - espaçamento entre os Botões de Navegação */
}
  
.manual-botao:hover { /* Era class="manual-btn" */
    background: #f9004d; /* Era #f9004d - cor de PREENCHIMENTO que os Botões terão 
                            quando o mouse for posicionado sobre eles */
}
 
#radio1:checked ~ .first { /* radio1 = Primeira Foto é mostrada */
    margin-left: 0; /* 0 = a Primeira Foto ocupará a posição ZERO (início) 
                           aqui, deve-se levar em consideraão que o Carrossel vai de 0 a 100%, portanto
                           os percentuais devem ser respeitados.
                           Se os valores abaixo forem mudados para -20%, -30%, -50% as Fotos ficarão paradas
                           no meio do Slide 
                           SEMPRE TEM QUE SER DE 20 EM 20%
                           Se ~ .first for retirado as Fotos não mudarão */
}
#radio2:checked ~ .first { /* radio2 = Foto 2 é mostrada */
    margin-left: -20%;
}
#radio3:checked ~ .first { /* radio3 = Foto 3 é mostrada */
    margin-left: -40%;
}
#radio4:checked ~ .first { /* radio4 = Foto 4 é mostrada */
    margin-left: -60%;
}
#radio5:checked ~ .first { /* radio5 = Foto 5 é mostrada */
    margin-left: -80%;
}
#radio6:checked ~ .first { /* radio6 = Foto 6 é mostrada */
    margin-left: -100%;
}
#radio7:checked ~ .first { /* radio7 = Foto 7 é mostrada */
    margin-left: -120%;
}
#radio8:checked ~ .first { /* radio8 = Foto 8 é mostrada */
    margin-left: -140%;
}
#radio9:checked ~ .first { /* radio9 = Foto 9 é mostrada */
    margin-left: -160%;
}
#radio10:checked ~ .first { /* radio10 = Foto 10 é mostrada */
    margin-left: -180%;
}
#radio11:checked ~ .first { /* radio11 = Foto 11 é mostrada */
    margin-left: -200%;
}
#radio12:checked ~ .first { /* radio12 = Foto 12 é mostrada */
    margin-left: -220%;
}
#radio13:checked ~ .first { /* radio13 = Foto 13 é mostrada */
    margin-left: -240%;
}
#radio14:checked ~ .first { /* radio14 = Foto 14 é mostrada */
    margin-left: -260%;
}
#radio15:checked ~ .first { /* radio15 = Foto 15 é mostrada */
    margin-left: -280%;
}
#radio16:checked ~ .first { /* radio16 = Foto 16 é mostrada */
    margin-left: -300%;
}
#radio17:checked ~ .first { /* radio17 = Foto 17 é mostrada */
    margin-left: -320%;
}
#radio18:checked ~ .first { /* radio18 = Foto 18 é mostrada */
    margin-left: -340%;
}

/* CSS para navegação automática (CSS for automatic navigation) */

/* A Navegação automática */
.navegacao-automatica { /* Era class="navigation-auto" 
                            Aqui, são inseridos Botões que ficam camuflados sobre os já criados
                            acima na Classe .navegação-manual */
    position: absolute; /* força a centralização dos Botões em cima das Fotos */
    display: flex; /* possibilita que os comandos ACIMA sejam executados */
    width: 800px;  /* Era 700px, Era 800px - centraliza os Botões no meio das Fotos - largura da Foto */
    justify-content: center; /* justifica e centraliza EXATAMENTE no meio das Fotos */
    margin-top: 520px; /* Era 460px, Era 20px - os Botões vão ficar abaixo das Fotos, fica mais fácil de visualizar
                          -40px - os Botões ficarão sobre as Fotos na parte inferior das Fotos
                          Era 460px - Como a altura das Fotos é de 500px (800x500), então, aqui a margem é de 460px
                          já que na Classe .navegação-manual foi colocada uma margem negativa de -40px 
                          Colocando um valor menor, por exemplo, 450px, aparecerá uma bolinha acima das outras
                          ai, é só mudar a cor dos #radio1, #radio2, #radio3, #radio4, para VERMELHO que fica interessante */
}
  
.navegacao-automatica div { /* Era class="navigation-auto" 
                               outra camuflagem que deve ter os mesmos comando da Classe .manual-botao */
    border: 0px solid rgba(255, 204, 255,.1); /* Cor rgba de #f9004d = rgba(249, 0, 77,.13) - .13 = opacidade
                                                0px = retira a Borda em volta do Botão 
                                                Era 7px, Era 5px, Era 2px = expessura da borda criada em volta do Botão
                                                solid = precisa ser colocado para aparecer a borda ao redor do Botão
                                                #40D3DC = cor da borda criada em volta do Botão */
    padding: 12px; /* Era 7px - esse 'padding' faz os Botões aumentarem/diminuírem de tamanho, é o espaço INTERNO que os Botões terão */
    border-radius: 50px; /* arredonda os Botões, tem o mesmo efeito de um 'border-radius' de 50px, 
                            pois neste caso, os Botões são pequenos */
    transition: 1s; /* tempo que levará para APARECER/DESAPARECER a cor dos Botões
                       quando o mouse for posicionado sobre eles */
    background-color: rgba(255, 204, 255,.1); /* Cor rgba de #f9004d = rgba(249, 0, 77,.13) - .13 = opacidade */
}
  
.navegacao-automatica div:not(:last-child) { /* Era class="navigation-auto" 
                                                Aqui, é a camuflagem oposta a Classe .manual-botao:not(:last-child) */
    margin-right: 15px; /* Era 10px, Era 40px - espaçamento entre os Botões de Navegação */
}

#radio1:checked ~ .navegacao-automatica .auto-botao1 { /* Era class=".navigation-auto" 
                                                        .auto-btn1" apenas a chamada o Botão para
                                                        navegação automática */
    background: #f9004d;
}
#radio2:checked ~ .navegacao-automatica .auto-botao2 {
    background: #f9004d;
}
#radio3:checked ~ .navegacao-automatica .auto-botao3 {
    background: #f9004d;
}
#radio4:checked ~ .navegacao-automatica .auto-botao4 {
    background: #f9004d;
}
#radio5:checked ~ .navegacao-automatica .auto-botao5 {
    background: #f9004d;
}
#radio6:checked ~ .navegacao-automatica .auto-botao6 {
    background: #f9004d;
}
#radio7:checked ~ .navegacao-automatica .auto-botao7 {
    background: #f9004d;
}
#radio8:checked ~ .navegacao-automatica .auto-botao8 {
    background: #f9004d;
}
#radio9:checked ~ .navegacao-automatica .auto-botao9 {
    background: #f9004d;
}
#radio10:checked ~ .navegacao-automatica .auto-botao10 {
    background: #f9004d;
}
#radio11:checked ~ .navegacao-automatica .auto-botao11 {
    background: #f9004d;
}
#radio12:checked ~ .navegacao-automatica .auto-botao12 {
    background: #f9004d;
}
#radio13:checked ~ .navegacao-automatica .auto-botao13 {
    background: #f9004d;
}
#radio14:checked ~ .navegacao-automatica .auto-botao14 {
    background: #f9004d;
}
#radio15:checked ~ .navegacao-automatica .auto-botao15 {
    background: #f9004d;
}
#radio16:checked ~ .navegacao-automatica .auto-botao16 {
    background: #f9004d;
}
#radio17:checked ~ .navegacao-automatica .auto-botao17 {
    background: #f9004d;
}
#radio18:checked ~ .navegacao-automatica .auto-botao18 {
    background: #f9004d;
}

.fechar-pagina { /* Botão FECHAR página, apenas para página 4 (CERTIFICADOS) */
    position: absolute; /* posiciona o Botão FECHAR de forma fixa na tela*/
    /*padding-top: 560px;*/ /* coloca o botão FECHAR na margem inferior da Tela */
    margin-left: 1120px; /* Era 120px - espaçamento entre as Fotos dos CERTIFICADOS e o Botão FECHAR */
    /*margin-right: -240px;*/ /* Era -240px - espaçamento entre o Botão FECHAR e a margem direita da Tela */
    margin-top: 560px; /* coloca o botão FECHAR na margem inferior da Tela, na mesma linha que os Botões */
}

/* Modo Responsivo */
@media all and (min-width: 40.063em) and (max-width: 63.938em) { /* Celular com tamanho de Tela Média */
   body, html {
        margin: 0; /* zera todas as margens */
        padding: 0; /* zera todos os espaços dentro da Tela */
        overflow-y: hidden; /* evita que o conteúdo extrapole as margens */
        overflow-x: hidden; /* evita que o conteúdo extrapole as margens */
        margin-top: -50px; /* ajuda o Container ficar centralizado no meio da página */
    }
    .fechar-pagina { /* apenas no Botão FECHAR da página 4 (CERTIFICADOS) */
        position: absolute; /* é obrigatório colocar este comando pra poder deixar Responsivo depois 
                               com "position: relative;" acima */
        /*padding-top: 860px;*/ /* coloca o botão FECHAR na margem inferior da Tela
                               na mesma linha que os CERTIFICADOS */
        margin-right: 450px; /* Era -550px, Era-450px - espaçamento entre o Botão FECHAR e a margem direita da Tela */
        margin-top: 820px; /* coloca o botão FECHAR na margem inferior da Tela alinhado com CERTIFICADOS */
    }
    fechar-pagina .button-pages {
        padding: 0;
    }
    manual-botao:hover { /* Era class="manual-btn" */
        background: #f9004d; /* cor de PREENCHIMENTO que os Botões terão 
                                quando o mouse clicar sobre os Botões */
    }
}
